body {
    text-align: center;
    background-size: cover;
    color: white;
    background-image: url("space.webp");
    font-family: 'Orbitron', sans-serif;
}
.btn {
    background-color: white;
    border: none;
    padding: 6px 12px;
    font-family: inherit;
   
}
